
.dark_mode{
 width: 100%;
 height: 100%;

}
.dark{
    background-color:  var(--text-color);
    color:var(--bg-color);
     height: 100%;
    transition: background-color .25 ease-in-out ;
    -webkit-transition: background-color .25 ease-in-out ;
    -moz-transition: background-color .25 ease-in-out ;
    -ms-transition: background-color .25 ease-in-out ;
    -o-transition: background-color .25 ease-in-out ;
}

.light{
    background-color: var(--bg-color);
    height: 100%;
    color:var(--text-color);
    transition: background-color .25 ease-in-out ;
    -webkit-transition: background-color .25 ease-in-out ;
    -moz-transition: background-color .25 ease-in-out ;
    -ms-transition: background-color .25 ease-in-out ;
    -o-transition: background-color .25 ease-in-out ;

}



.Moon{
    font-size: 18px;
    background-color: white;
    color: black;
    text-align: center;
        width: 20px;

}

.uil-moon:before {
    content: '\ea8b';
    position: relative;

}

.Sun{
    font-size: 18px;
    background-color: #1a1919;
    color: white;
    text-align: center;
            width: 20px;

    
}

.uil-sun:before{
   position: relative;

}